.about-main-text {
    font-size: 3vmin;
    color: DarkGray;
}

.our-products {
    width: 12vmin;
    height: 12vmin;
    margin: 1vmin;
    transition-duration: 0.4s;
}

.our-products:hover {
    transform: scale(1.2);
}

#page-table {
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
}

#page-table th {
	border: 1px solid;
	margin: 0;
	background-color: #999;
	height: 2em;
}

#page-table td {
	background-color: #eee;
	border: 1px solid;
	height: 2em;
}
